@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.logo {
    height: 40px;
    width: 100px;
}

.products-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.products-card {
    padding: 20px;
    height: 328px;
    border-radius: 16px;
}

.headphones-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png");
    background-size: cover;
}

.laptop-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-laptops-bg.png");
    background-size: cover;
}

.products-card-title {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.products-card-description {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
}

.products-card-button {
    color: #ff9f00;
    background-color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
    width: 134px;
    height: 48px;
    border-width: 0;
    border-radius: 100px;
}

.products-card-modal-title {
    color: #323f4b;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 500;
}

.products-card-modal-description {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
}

.products-card-modal-list {
    list-style-type: none;
    padding-left: 0;
}

.products-card-modal-list-item {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
}

.products-card-modal-list-item-category {
    font-weight: bold;
}

.products-section-link {
    color: #ff9f00;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
}






.product-name {
    color: #ffffff;
    font-size: 34px;
}

.product-para {
    color: #ffffff;
    font-size: 18px;
}

.product-button {
    background-color: #ffffff;
    border-radius: 25px;
    color: #ff9f00;
    border-width: 0px;
    font-weight: 700;
    padding: 8px;
}

.offers-page {
    padding-bottom: 30px;
    padding-top: 30px;
    background-image: linear-gradient(to right, #f49541, #dd5d97);
}

.offer-heading {
    color: #ad2167;
    font-size: 30px;
    font-family: "bree Serif";
}

.offer-para {
    color: #ffffff;
    font-size: 18px;
}

.highlight {
    font-weight: bold;
    font-style: italic;
}

.sbi-image {
    height: 80px;
    width: 200px;
}

.footer-page {
    background-color: #0d2436;
}

.footer-image {
    height: 70px;
    width: 150px;
}

.icon {
    color: #5a7184;
    font-size: 30px;
}

.icon-container {
    width: 70px;
    height: 70px;
    background-color: #152c3e;
    padding-bottom: 14px;
    padding-top: 22px;
    padding-right: 16px;
    padding-left: 22px;
    margin: 15px;
    border-radius: 40px;
}

.address {
    font-size: 20px;
    color: #959ead;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}

.footer-heading {
    font-size: 32px;
    color: #5a7184;
    font-weight: bold;
}

.footer-list {
    list-style-type: none;
    padding-left: 0;
}

.footer-info {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #5a7184;
}

.hr-line {
    background-color: #5a7184;
}

.footer-copyright {
    color: #959ead;
    font-size: 16px;
    font-weight: 400;
}